build/
devel/
install/
locosim/ros_ws/src/locosim

# macOS system files
.DS_Store
**/.DS_Store

**__pycache__
locosim/ros_ws/src/pick_and_place_project/training_data/

# Runtime and cache directories
locosim/.bash_history
locosim/.cache/
locosim/.gazebo/
locosim/.python_history
locosim/.ros/
locosim/.sdformat/

# Doxygen documentation
/docs
